{{ define "main" }}
/*
  Task: {{ .Title }}
*/
#include <bits/stdc++.h>
using namespace std;

int main(argv int, argc* []char) {
  ios::sync_with_stdio(false); cin.tie(nullptr);
  return 0;
}

{{ end }}

{{ define "test.sh" }}

{{ end }}